<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <script src="/MPLogin/JavaScript/JScript.js" type="text/javascript">
 </script>
 <head>
  <link href="../favicon.ico" rel="SHORTCUT ICON"/>
  <meta content="progid:DXImageTransform.Microsoft.Fade(duration=.5)" http-equiv="Page-Exit"/>
  <title>
   Madhya Pradesh - MIS
  </title>
  <script type="text/javascript">
   function setSize() 
        {
            
            if (document.getElementById) 
            {   
                var windowHeight=getWindowHeight();
                var windowWidth=getWindowWidth();                
                if (windowHeight>0) 
                {                    
                    ContentElement = document.getElementById("DynamicHeight");                    
                    ContentElement.style.height= (windowHeight - 195)+'px';
                    
                }
                if (windowWidth>0) 
                {
                    ContentElement = document.getElementById("DynamicHeight");                    
                    ContentElement.style.width= (windowWidth - 312)+'px';
                }  
            }          
        }

        window.onload = function() 
        {
            setSize();
        }
        window.onresize = function() 
        {
            setSize();
        }
  </script>
  <link href="../App_Themes/Pink/Default.css" rel="stylesheet" type="text/css"/>
  <link href="../App_Themes/Pink/Sms.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <form action="GenericDetails.aspx?data=EJ4WcVu7YA2DTzUJA6McF2AX%2b7Y6vhk65LrTcWUip5LOKKYptigts%2bnGrPGbAzVbTj7WrdveGyq%2f8mTP4D%2bpFrTP92opyGHF4DXJ0vGlNYLQuRTbtr3P1nnjaWm283nNxonAm8YM%2bQl6YgQCclt0vrmifyv0pJ9%2bli75%2bISHNVtfz4GtkdiHeNhRR%2bQWKDKCPh4Anb7mPer46dnR2OcpsOBPo3w3xyk4xrcCrz1W5te9sLpo%2bfGBuU4cnIYRdKsaDM2PHOMRTShtz5rqIRFbFh2Ek5Nt1q4t0M9rtY9qHbb8" id="aspnetForm" method="post" name="aspnetForm">
   <input hidden="true" id="__VIEWSTATE" name="__VIEWSTATE" type="hidden" value="/wEPDwULLTIwOTY1ODk2NjNkZNlXLKw53pRZNwpwdyl/Jg4Ebg4D"/>
   <script src="/MPLogin/ScriptResource.axd?d=jDms6w_rJlh03nWO13kmkpMYN-n7QkHmlHfVL_Rn03uAhKpRtNrP8I1mZaP20EhTpKn7_7xMbz4bcQCxXOt_JdSensMjxF08wZj37qZC5tFuc3K8MnXQVskO0eBAKG7xqZmYMHu_ibjAdIQnyCi5_PTrDX81&amp;t=ffffffffbcb9b94a" type="text/javascript">
   </script>
   <script src="/MPLogin/ScriptResource.axd?d=-kZ5Qeaijm800I55cycfk1pCYOOexgqV-Q-5CX92rit8NzEhH-TH8AAZ__ptpq16rDzr8hCWGWhZw57gLDnrjVAU-zHPUBi0IxBb9niQLkHSlL1rVPzevCKFsjglQRFUICVNKw2&amp;t=ffffffff8f9c0479" type="text/javascript">
   </script>
   <input hidden="true" id="__EVENTVALIDATION" name="__EVENTVALIDATION" type="hidden" value="/wEWCgL4wpOgCgKq3PDUAwLlw8SxCwLBlruuCQLO4b2RDQKhz6zbCgKd5YXKBAK2kMm4BwLWqPPhCAKK54qEBznkkmYdAzVOE6SAI2N4GjfWnBxB"/>
   <div>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%;">
     <tr>
      <td>
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
         <td class="eSewaLogo" colspan="3" style="width: 45%" valign="bottom">
         </td>
        </tr>
        <tr>
         <td class="headerPinkInnder" colspan="3" style="height: 6px">
         </td>
        </tr>
        <tr>
         <td class="headerRedBar" colspan="3" style="height: 1px">
         </td>
        </tr>
       </table>
       <table border="0" cellpadding="0" cellspacing="0" class="sessionTimer" width="100%">
        <tr style="height: 27px">
         <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
           <tr>
            <td align="left" valign="top">
             <img alt="" height="12" src="../Images/DoubleChevron.gif" style="border: 0" width="10"/>
             <a class="eNavigate" hidden="true" href="http://www.mptransport.org/">
              MP Transport Website
             </a>
             <img alt="" height="12" src="../Images/doubleChevron.gif" style="border: 0" width="10"/>
             <a class="eNavigate" hidden="true" href="../eLogin.aspx">
              e-Sewa Home
             </a>
             <img alt="" height="12px" src="../Images/DoubleChevron.gif" style="border: 0" width="10px"/>
             <font class="eNavigate">
              New Search :
             </font>
             <a class="eNavigate" hidden="true" href="../eSewa/VehicleSearch.aspx" title="Vehicle Registration">
              RC
             </a>
             <a class="eNavigate" hidden="true" href="../eSewa/DrivingLicenseSearch.aspx" title="Driving License">
              DL
             </a>
             <a class="eNavigate" hidden="true" href="../eSewa/LearningLicenseSearch.aspx" title="Learning License">
              LL
             </a>
            </td>
           </tr>
          </table>
         </td>
        </tr>
       </table>
      </td>
     </tr>
     <tr>
      <td class="BlueBar" style="height: 3px">
      </td>
     </tr>
     <tr>
      <td style="height: 3px">
      </td>
     </tr>
     <tr>
      <td id="DynamicHeight">
       <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%">
        <tr>
         <td style="width: 1%; vertical-align: top;">
          <!-- Menu Start From Here -->
          <!-- Menu Ends Here  -->
         </td>
         <td align="left" style="width: 98%; vertical-align: top">
          <div id="faderDiv">
           <div id="ctl00_ModalUpdateProgress1" style="display:none;">
            <div class="modalPopup">
             <img align="middle" src="../Images/DXR.axd.gif"/>
            </div>
           </div>
           <div id="ctl00_UpdatePanel1">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%;">
             <tr>
              <td style="height: 5px;">
              </td>
             </tr>
             <tr class="Heading">
              <td>
               <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                 <td align="left" style="width: 50%">
                  <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                   <tr>
                    <td class="blueHeadingSmall">
                     Vehicle Registration No.  : 
                                        MP49C7526
                    </td>
                   </tr>
                  </table>
                 </td>
                 <td align="right" style="width: 50%">
                  <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                   <tr>
                    <td>
                     <div style="visibility: visible">
                      <div id="ctl00_ContentPlaceHolder1_CtrlMenu_upUserControl">
                       <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tr>
                         <td>
                          <a class="MenuPink" hidden="true">
                           Registration
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkTax','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkTax">
                           Tax
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkPermit','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkPermit">
                           Permit
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkFitness','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkFitness">
                           Fitness
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkInsurance','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkInsurance">
                           Insurance
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkHypothicated','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkHypothicated">
                           Hypothicated
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkNOC','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkNOC">
                           NOC
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkHistory','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkHistory">
                           History
                          </a>
                         </td>
                         <td>
                          <a class="MenuGray" hidden="true" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$CtrlMenu$lnkLease','')" id="ctl00_ContentPlaceHolder1_CtrlMenu_lnkLease">
                           Lease
                          </a>
                         </td>
                        </tr>
                       </table>
                      </div>
                     </div>
                    </td>
                   </tr>
                  </table>
                 </td>
                </tr>
               </table>
              </td>
             </tr>
             <tr class="Red">
              <td style="height: 1px;">
              </td>
             </tr>
             <tr>
              <td class="Same2">
              </td>
             </tr>
             <div id="ctl00_ContentPlaceHolder1_dvVehicleDetails">
              <tr>
               <td class="Same">
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%;">
                 <tr>
                  <td style="height: 5px; width: 5%">
                  </td>
                  <td style="height: 5px; width: 90%">
                  </td>
                  <td style="height: 5px; width: 5%">
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td class="LeftAlignRed">
                   Owner's Detail
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td>
                   <fieldset>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                      <td class="RightAlignBlack" style="width: 19%;">
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%">
                      </td>
                      <td class="LeftAlignGreen" style="width: 30%;">
                      </td>
                      <td style="width: 1%;">
                      </td>
                      <td style="width: 19%;">
                      </td>
                      <td style="width: 1%;">
                      </td>
                      <td style="width: 29%;">
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Registration No
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 30%;">
                       MP49C7526
                      </td>
                      <td class="ErrorBlue" colspan="4" style="width: 50%;">
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Owner Sr No
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       1
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Registration Date
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       18-11-2019
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Owner's Name
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       DHARMENDRA SINGH  KOURAV
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Issue Date
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       25-11-2019
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Father's/Husband's Name
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       PURUSHOTTAM SINGH KOURAV
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Year Of Manufacture
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       01-06-2019
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack" style="vertical-align: top;">
                       Permanent Address
                      </td>
                      <td class="LeftAlignGreen" style="vertical-align: top;">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="vertical-align: top;">
                       H NO 169 GRAM CHHITAPAR TEH
                       <br/>
                       GADARWARA NARSINGHPUR
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Registered RTO
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       NARSINGHPUR
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack" style="vertical-align: top;">
                       Temporary Address
                      </td>
                      <td class="LeftAlignGreen" style="vertical-align: top;">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="vertical-align: top;">
                       H NO 169 GRAM CHHITAPAR TEH
                       <br/>
                       GADARWARA NARSINGHPUR
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Card Serial No.
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       2012823707
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Registration Type
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       NEW
                      </td>
                     </tr>
                    </table>
                   </fieldset>
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td colspan="3" style="height: 5px;">
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td class="LeftAlignRed">
                   Vehicle Technical Details
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td>
                   <fieldset>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                      <td class="RightAlignBlack" style="width: 19%;">
                       No. Of Cylinder
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 30%;">
                       4
                      </td>
                      <td style="width: 1%;">
                      </td>
                      <td class="RightAlignBlack" style="width: 19%;">
                       CC
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%;">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 29%;">
                       1197
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Class
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       CAR
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Seating Capacity
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       4
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Sleeping Capacity
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                      </td>
                      <td>
                      </td>
                      <td class="RightAlign">
                       Standard Seating Capacity
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       4 + 1
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Type Of Body
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       SALOON
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       ULW
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       865
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Maker's Classiffication
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       SWIFT VXI M1 BS6
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Maker's Name
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       MARUTI SUZUKI INDIA LIMITED
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Engine No.
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       K12MP1117963
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Chassis's No
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       MBHCZC63SKK498285
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Colour
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       PEARL ARCTIC WHITE
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       Fuel
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       PETROL
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       LPG Toolkit No.
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       LPG Tank No.
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Registration Validity
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       17-11-2034
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       HorsePower [ HP ]
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       58
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       Laden Weight
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       1315
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       WheelBase
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       2450
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack">
                       GVW Registered
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       1315
                      </td>
                      <td>
                      </td>
                      <td class="RightAlignBlack">
                       GVW By Manufacture
                      </td>
                      <td class="LeftAlignGreen">
                       :
                      </td>
                      <td class="LeftAlignGreen">
                       1315
                      </td>
                     </tr>
                    </table>
                   </fieldset>
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td colspan="3" style="height: 5px;">
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td class="LeftAlign">
                   <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                     <td class="LeftAlignRed" colspan="3" style="width: 50%;">
                      Description Of Tyre and Size
                     </td>
                     <td style="width: 1%;">
                     </td>
                     <td class="LeftAlignRed" colspan="3" style="width: 50%;">
                      Description Of Axel Weight
                     </td>
                    </tr>
                   </table>
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td>
                   <fieldset>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Front Axel
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 30%;">
                       0
                      </td>
                      <td style="width: 1%;">
                      </td>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Front Axel
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%;">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 29%;">
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Rear Axel
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 30%;">
                       0
                      </td>
                      <td style="width: 1%;">
                      </td>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Rear Axel
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%;">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 29%;">
                      </td>
                     </tr>
                     <tr>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Any Other Axel
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 30%;">
                       0
                      </td>
                      <td style="width: 1%;">
                      </td>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Any Other Axel
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%;">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 29%;">
                      </td>
                     </tr>
                    </table>
                   </fieldset>
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td colspan="3" style="height: 5px;">
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td class="LeftAlignRed">
                   Vehicle Purchase Details
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td>
                  </td>
                  <td>
                   <fieldset>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Dealer's Name
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 30%;">
                       STANDARD AUTO AGENCIES NSP
                      </td>
                      <td style="width: 1%;">
                      </td>
                      <td class="RightAlignBlack" style="width: 19%;">
                       Dealer's Addess
                      </td>
                      <td class="LeftAlignGreen" style="width: 1%;">
                       :
                      </td>
                      <td class="LeftAlignGreen" style="width: 29%;">
                       MAIN ROAD KADALI NSP
                      </td>
                     </tr>
                    </table>
                   </fieldset>
                  </td>
                  <td>
                  </td>
                 </tr>
                 <tr>
                  <td colspan="3" style="height: 5px;">
                  </td>
                 </tr>
                 <tr>
                  <td style="height: 5px;">
                  </td>
                  <td style="height: 5px;">
                  </td>
                  <td style="height: 5px;">
                  </td>
                 </tr>
                </table>
               </td>
              </tr>
              <tr>
               <td class="Same2">
               </td>
              </tr>
              <tr class="Red">
               <td style="height: 1px;">
               </td>
              </tr>
              <tr>
               <td style="text-align: center;">
                <input class="submitButton" hidden="true" id="ctl00_ContentPlaceHolder1_btnPrint" name="ctl00$ContentPlaceHolder1$btnPrint" type="submit" value="Print"/>
               </td>
              </tr>
             </div>
            </table>
           </div>
          </div>
         </td>
         <td style="width: 1%;">
         </td>
        </tr>
       </table>
      </td>
     </tr>
     <tr>
      <td style="height: 5px;">
      </td>
     </tr>
     <tr>
      <td>
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr class="footerH">
         <td align="center" colspan="3" style="height: 20px">
         </td>
        </tr>
        <tr class="footerI">
         <td align="center" colspan="3" style="height: 15px">
          <font color="#000066" face="arial" size="1">
           Best view in the 1024*768 resolutions -
                                        I.E. 5.5 and above Versions
          </font>
         </td>
        </tr>
        <tr class="footerI">
         <td align="center" colspan="3" style="height: 15px">
          <font color="#cc0033" face="arial" size="1">
           Disclaimer: Neither Madhya Pradesh Transport
                                        Department nor Smart Chip Limited is responsible for any inadvertent error that
                                        may have crept in the information being published on this Site. The results published
                                        on net are for immediate information to the Department/General Public. It cannot
                                        be deemed final under any circumstances what so ever till it is authorised, approved
                                        using physical stamp and signature of concerned authority belonging to Transport
                                        Department of Madhya Pradesh.
          </font>
         </td>
        </tr>
        <tr class="footerI">
         <td align="center" colspan="3" style="height: 20px">
          <font color="#000000" face="verdana" size="1">
           © 2011 Smart Chip India Ltd All Rights
                                        Reserved. Site and Portal developed, maintained and managed by Smart Chip Limited on behalf of Transport Department.
          </font>
         </td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
   </div>
   <script type="text/javascript">
    //<![CDATA[
Sys.Application.initialize();
//]]>
   </script>
  </form>
 </body>
</html>
